<section class="order about" #orderElement>
  <div class="container">
    <div class="">
      <div class="order-text-title " id="order">
        <span class="double-title">Лучшая</span> Итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores commodi deserunt dolore
        doloremque laborum minus molestias quia repellendus. A, ab commodi corporis delectus est maxime numquam omnis
        praesentium repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores commodi deserunt dolore
        doloremque laborum minus molestias quia repellendus. A, ab commodi corporis delectus est maxime numquam omnis
        praesentium repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores commodi deserunt dolore
        doloremque laborum minus molestias quia repellendus. A, ab commodi corporis delectus est maxime numquam omnis
        praesentium repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores commodi deserunt dolore
        doloremque laborum minus molestias quia repellendus. A, ab commodi corporis delectus est maxime numquam omnis
        praesentium repudiandae.
      </div>
    </div>

    <div class="about-image wow animate__backInRight">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizzzza">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizzzza">
    </div>
  </div>
</section>
<app-popup [data]="'about component'"></app-popup>
